
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1280px);
    height: em(720px);
    margin-left: (em(-1280px) / 2);
    margin-top: (em(-720px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background-image: url(../images/backgroundMosaic.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.Floor {
    position: absolute;
    bottom: 4em;
    //height: em(10px);
    width: em(1280px)+em(75px);
    background-size: 100%;
    //width: em(1px);
    //height: 4em;

    // sliding floor
    transform-origin: bottom right;

    //animation: 0.3s slideFloor infinite;

    animation-name: slideFloor;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
    animation-timing-function: linear;
}

@keyframes slideFloor {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(em(-54px));
    }
}

.Sand {
    position: absolute;
    bottom: 0;
    height: 5em;
}

.Pipe {
    position: absolute;
    bottom: em(-100px);
    //height: em(10px);
    background-size: 100%;


    // sliding column
    transform-origin: bottom right;

    animation-name: movePipe;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
    animation-timing-function: linear;
}

@keyframes movePipe {


    from {
        transform: translateX(em(1180px));
    }
    to {
        transform: translateX(em(-440px));
    }
}

.PipeReverse {
  position: absolute;
  top: em(-200px);
  //background-image: url(../images/sula.png);
  background-repeat: no-repeat;
  background-size: 100%;
  //animation-name: movePipe;
  //animation-duration: 7.5s;
  //animation-iteration-count: infinite;
  //animation-fill-mode: forwards; 
  //animation-timing-function: linear;

  animation-name: movePipeReverse;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; 
  animation-timing-function: linear;

}

@keyframes movePipeReverse {


    from {
        transform: translateX(em(1180px)) rotate(180deg);
    }
    to {
        transform: translateX(em(-440px)) rotate(180deg);
    }
}

.bubbles {
    height: 300px;
    width: 400px;

    transform-origin: top right;

    animation-name: movingBubbles;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes movingBubbles {
    from {
        transform: translateX(em(1380px));
    }
    to {
        transform: translateX(em(-200px));
    }
}

.bubble1 {
  height: 40px;
  width: 40px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(10px) / 2);
  margin-top: (em(-20px) / 2);

  animation: 0.9s mb1 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb1 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble2 {
  height: 25px;
  width: 25px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(-70px) / 2);
  margin-top: (em(-70px) / 2);

  animation: 1.1s mb2 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb2 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble3 {
  height: 17px;
  width: 17px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(20px) / 2);
  margin-top: (em(20px) / 2);

  animation: 1.4s mb3 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb3 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble4 {
  height: 42px;
  width: 42px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(-134px) / 2);
  margin-top: (em(-80px) / 2);

  animation: 1.0s mb4 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb4 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble5 {
  height: 34px;
  width: 34px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(-47px) / 2);
  margin-top: (em(-15px) / 2);

  animation: 1.3s mb5 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb5 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble6 {
  height: 21px;
  width: 21px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(-120px) / 2);
  margin-top: (em(-83px) / 2);

  animation: 1.2s mb6 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb6 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}

.bubble7 {
  height: 21px;
  width: 21px;
  border: 1px solid #ffff;
  border-radius: 10000px;
  background: rgba(255,255,255,0.35);
  margin-left: (em(-17px) / 2);
  margin-top: (em(-53px) / 2);

  animation: 0.8s mb7 alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes mb7 {
    from {
        transform: translateY(em(90px));
    }
    to {
        transform: translateY(em(100px));
    }
}