
@import 'variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 50%;
    top: 50%;
    width: em(1028px);
    height: em(560px);
    margin-left: (em(-1028px) / 2);
    margin-top: (em(-500px) / 2);

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics

    //background: blue;
    background-image: url(../images/backBar.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.Floor {
    position: absolute;
    bottom: 4em;
    width: em(1024px)+em(75px);
    //width: em(1px);
    //height: 4em;

    // sliding floor
    transform-origin: bottom right;

    //animation: 0.3s slideFloor infinite;

    animation-name: slideFloor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; 
    animation-timing-function: linear;
}

@keyframes slideFloor {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(em(-47px));
    }
}

.Sand {
    position: absolute;
    bottom: 0;
    height: 5em;
}