.MoaiObstacle {
	position: absolute;
	width: em(128px);
	height: em(346px);
	background-image: url(../images/sulaFinal.png);
	background-repeat: no-repeat;
	background-size: 100%;
	//transform: translateZ(0);
	//background: red;
}

.MoaiReverse,
.MoaiReverse2,
.MoaiReverse3 {
	@inherit .MoaiObstacle;
	top: 0;
}

.Moai,
.Moai2,
.Moai3 {
	@inherit .MoaiObstacle;
	bottom: 0;
}