
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(100px);
    height: em(115px);

    //background: blue;
    background-size: 100%;
    background-image: url(../images/noHand.png);
    transform: translateZ(0);
}

.PlayerWings {
	// Position measured from top-left of parent (i.e. Player)
    position: absolute;
    width: em(40px);
    height: em(40px);
    top: 1.3em;
    left: 1.4em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/hand.png);

    transform-origin: top right;
    animation: 0.2s flapWings alternate infinite;
}

@keyframes flapWings {
    from {
        transform: rotateZ(-50deg);
    }
    to {
        transform: rotateZ(20deg);
    }
}