
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(50px);

    background: blue;
    transform: translateZ(0);
}

.PlayerWings {
	// Position measured from top-left of parent (i.e. Player)
    position: absolute;
    top: 0.25em;
    left: 0.4em;
    width: 1.5em;
    height: 2em;
    background: yellow;

    transform-origin: top left;
    animation: 0.5s flapWings alternate infinite;
}

@keyframes flapWings {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(180deg);
    }
}