
.Scoreboard {
	font-size: $base-font-size;	
	position: absolute;
	left: 50%;
	top: em(100px);
	height: em(900px);
	width: em(600px);
	margin-left: em(-300px);
	margin-top: em(-100px);
	box-sizing: border-box;

	//background: purple;
	background-image: url(../images/PineappleScoreboard.png);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-600px));
	transition: transform 0.5s;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */
.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-restart {
	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid #AA250A;
	background: orange;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Arial', serif;
	font-size: em(24px);
	color: #AA250A;
}

.MuteButton {
	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid #AA250A;
	background: orange;
	cursor: pointer;
	color: #AA250A;
}

.Score {
	font-size: 500%;
	color: White;
	margin-top: em(60px);
}

.HighScore {
	font-size: 300%;
	color: White;
	margin-top: em(15px);
}

.Restart-Div {
	margin-top: em(20px);
}

.Mute-Div {
	margin-top: em(10px);
}