.MoaiObstacle{
	position: absolute;
	width: em(50px);
	height: em(250px);
	background-image: url(../images/sula.png);
	background-repeat: no-repeat;
	background-size: 100%;
	transform: translateZ(0);
	background-color: red;
}

.MoaiReverse,
.MoaiReverse2,
.MoaiReverse3,
{
	@inherit .MoaiObstacle;
}

.Moai,
.Moai2,
.Moai3 {
	@inherit .MoaiObstacle;
}